<!-- <p>simpletable works!</p> -->
<section id="my-table">
    <table class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th style="width: 8em">Id</th>
                <th class="mdl-data-table__cell--non-numeric" style="width: 26em">File</th>
                <th class="mdl-data-table__cell--non-numeric" style="width: 12em">Author</th>
                <th class="mdl-data-table__cell--non-numeric" style="width: 12em">Type</th>
                <th class="mdl-data-table__cell--non-numeric" style="width: 12em">Shelf</th>
                <th class="mdl-data-table__cell--non-numeric">Keywords</th>
                <th style="width: 6em">Fav</th>
                <th style="width: 6em">Trs</th>
            </tr>
        </thead>
        <tbody *ngFor="let doc of docs">
            <tr>
                <td>{{doc.id}}</td>
                <td>{{doc.Document}}</td>    
                <td>{{doc.Author}}</td>    
                <td>{{doc.Type}}</td>    
                <td>{{doc.Shelf}}</td>    
                <td>{{doc.Keywords}}</td>    
                <td>{{doc.Favorite}}</td>    
                <td>{{doc.Trash}}</td>    
            </tr>
        </tbody>
    </table>
</section>
