<!-- <p>complete-table works with pagination!</p> -->

<style>
/* spacing */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
thead th:nth-child(1) {
  width: 2%;
}
thead th:nth-child(2) {
  width: 4%;
}
thead th:nth-child(3) {
  width: 37%;
}
thead th:nth-child(4) {
  width: 10%;
}
thead th:nth-child(5) {
  width: 10%;
}
thead th:nth-child(6) {
  width: 10%;
}
thead th:nth-child(7) {
  width: 17%;
}
thead th:nth-child(8) {
  width: 5%;
}
thead th:nth-child(9) {
  width: 5%;
}
th, td {
  padding: 5px;
}

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: #30cae6;
}

tbody tr:nth-child(even) {
  background-color: #2aaec5;
}

tbody tr {
  background-image: url(noise.png);
}

table {
  background-color: #cdcad1;
}
</style>
<!-- <form> -->
  <!-- <div class="form-group form-inline"> -->
      <!-- Full text search: <input class="form-control ml-2" type="text" [(ngModel)]="filter"/> -->
      <!-- <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span> -->
  <!-- </div> -->

  <table class="table table-striped">
      <caption><span style="font-size:1.5em"><u>E</u>lectronic <u>D</u>ocument <u>M</u>anagement <u>S</u>ystem - Content/Library</span><span style="float: right">powered by Angular</span></caption>      
    <thead class="thead-dark">
      <tr>
        <th scope="col"><input type="checkbox"/></th>
        <th scope="col">Id</th>
        <th scope="col" style="text-align: left">File</th>
        <th scope="col" style="text-align: left">Author</th>
        <th scope="col" style="text-align: left">Type</th>
        <th scope="col" style="text-align: left">Shelf</th>
        <th scope="col" style="text-align: left">Keywords</th>
        <th scope="col" style="text-align: left">Favorite</th>
        <th scope="col" style="text-align: left">Trash</th>
        <!-- <th scope="col" sortable="name" (sort)="onSort($event)">Country</th> -->
        <!-- <th scope="col" sortable="area" (sort)="onSort($event)">Area</th>
        <th scope="col" sortable="population" (sort)="onSort($event)">Population</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doc of docs | slice: (page-1)*pageSize: (page-1)*pageSize+pageSize">
        <td><input type="checkbox"/></td>
        <th><a href="{{statics}}{{doc.Document}}">{{ doc.id }}</a></th>
        <td style="text-align: left">{{doc.Document}}</td>
        <td style="text-align: left">{{doc.Author}}</td>
        <td style="text-align: left">{{doc.Type}}</td>
        <td style="text-align: left">{{doc.Shelf}}</td>
        <td style="text-align: left">{{doc.Keywords}}</td>
        <td style="text-align: left">{{doc.Favorite}}</td>
        <td style="text-align: left">{{doc.Trash}}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]=docs.length [(page)]=page [pageSize]=pageSize [maxSize]=maxSize [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

    <!-- <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select> -->
  </div>
<!-- </form> -->

<!-- ==================================================================================== -->
<!-- ==================================================================================== -->
<!-- <form>
  <div class="form-group form-inline">
      Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Country</th>
      <th scope="col" sortable="area" (sort)="onSort($event)">Area</th>
      <th scope="col" sortable="population" (sort)="onSort($event)">Population</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries$ | async">
      <th scope="row">{{ country.id }}</th>
      <td>
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

</form> -->